In [4]:
# PASO 1: CARGA DEL DATASET
import pandas as pd

# Ruta del archivo .xlsx desde la estructura del proyecto
ruta = '../data/raw/sismos_completo.xlsx'

# Cargar el archivo
df = pd.read_excel(ruta)

# Ver primeras filas
df.head()

,#,Año,M,D,H,M.1,S,Err.,L,Latitud,Err..1,Longitud,Err..2,Prof.,Err..3,NST,RMS,GAP,ML,Agen.
0,1,2021,1,3,23,35,33.8,0.30,L,-54.804,2.3,-67.206,2.5,0.0,0.0,1,0.0,360,1.6,EAR
1,2,2021,1,26,7,46,42.3,3.16,R,-53.090,36.2,-73.530,80.2,10.0F,0.0,5,1.7,255,3.1,EAR
2,3,2021,1,27,21,46,10.9,0.38,L,-54.689,5.2,-67.467,9.2,9.5,3.7,4,0.1,211,3.1,EAR
3,4,2021,2,8,23,10,31.6,1.00,L,-54.565,4.0,-66.912,8.4,8.4,5.8,7,0.4,180,3.8,EAR
4,5,2021,2,17,2,2,20.8,0.75,R,-54.636,4.9,-69.748,7.0,3.1,7.5,3,0.3,239,2.2,EAR